@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');
*{
    font-family: 'Fraunces' , 'serif';
    color: white;
}
body{
    margin: 0;
    background-color: hsl(52, 86%, 77%) !important;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #050710;
    padding: 15px;
    border-radius: 32px;
    box-shadow: 15px 10px 0px 5px #00000033;
}
button{
    cursor: pointer;
    margin: 5px !important;
    padding: 0;
    border-radius: 32px !important;
    font-size: 1.5em;
    border: none;
    background-color: #090374;
    box-shadow: 5px 5px 10px -3px #00000040, -5px -5px 15px 3px #0154c11f;
}
button:hover{
    background-color: #0a599a;
}
button:active{
    background-color: #030154;
}
#cero, #borrar{
    grid-column: span 2;
}
#multiplicar, 
#dividir,
#restar, 
#sumar, 
#igual{
    background-color: rgb(156, 31, 9) !important;
}
#multiplicar:hover,
#dividir:hover, 
#restar:hover, 
#sumar:hover, 
#igual:hover{
    background-color: red !important;
}
#multiplicar:active,
#dividir:active, 
#restar:active, 
#sumar:active, 
#igual:active{
    background-color: rgb(60, 2, 2) !important;
}
.screen{
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 20px;
    flex-direction: column;
    align-items: end;
    background-color: #181822;
    border-radius: 32px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 5px 10px #00000033;
    font-size: 2em;
}